<div class="row">
  <div class="col-md-6">
    <h3>Tuesday, October 22nd</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td> <a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td> <a href="https://ytakemon.github.io/2019-10-22-R-BCCRC/">Workshop Overview</a> </td> </tr>
      <tr> <td>09:15</td>  <td> <a href="https://ytakemon.github.io/2019-10-22-R-BCCRC/01-rstudio-intro/">Introduction to R and RStudio</a> </td> </tr>
      <tr> <td>10:00</td>  <td> <a href="https://ytakemon.github.io/2019-10-22-R-BCCRC/02-filedir/">Navigating files and directories</a> </td> </tr>
      <tr> <td>10:20</td>  <td> <a href="https://ytakemon.github.io/2019-10-22-R-BCCRC/02-project-intro/">Project management</a> </td> </tr>
      <tr> <td>10:40</td>  <td> <a href="https://ytakemon.github.io/2019-10-22-R-BCCRC/03-seeking-help/">Seeking help</a> </td> </tr>
      <tr> <td>10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td> <a href="https://ytakemon.github.io/2019-10-22-R-BCCRC/15-knitr-markdown/">Producing reports with knitr</a> </td> </tr>
      <tr> <td>11:30</td>  <td> <a href="https://ytakemon.github.io/2019-10-22-R-BCCRC/04-data-structures-part1/">Understanding data structures</a> </td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td> <a href="https://ytakemon.github.io/2019-10-22-R-BCCRC/05-data-structures-part2/">Exploring data frames</a> </td> </tr>
      <tr> <td>14:15</td>  <td> <a href="https://ytakemon.github.io/2019-10-22-R-BCCRC/06-data-subsetting/">Subsetting Data</a> </td> </tr>
      <tr> <td>15:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td> <a href="https://ytakemon.github.io/2019-10-22-R-BCCRC/08-plot-ggplot2/">Publication quality graphics (Part 1)</a> </td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wednesday, October 23rd</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Recap Day 1</td> </tr>
      <tr> <td>09:15</td>  <td> <a href="https://ytakemon.github.io/2019-10-22-R-BCCRC/09-vectorization/">Vectorization</a> </td> </tr>
      <tr> <td>09:30</td>  <td> <a href="https://ytakemon.github.io/2019-10-22-R-BCCRC/07-control-flow/">Control flow</a> </td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td> <a href="https://ytakemon.github.io/2019-10-22-R-BCCRC/10-functions/">Creating functions</a> </td> </tr>
      <tr> <td>11:45</td>  <td> <a href="https://ytakemon.github.io/2019-10-22-R-BCCRC/11-writing-data/">Writing data</a> </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td> <a href="https://ytakemon.github.io/2019-10-22-R-BCCRC/13-dplyr/">Data handling with Dplyr</a> </td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45</td>  <td> <a href="https://ytakemon.github.io/2019-10-22-R-BCCRC/14-tidyr/">Data handling with Tidyr</a> </td> </tr>
      <tr> <td>15:45</td>  <td> <a href="https://ytakemon.github.io/2019-10-22-R-BCCRC/08-plot-ggplot2/">Publication quality graphics (Part 2)</a> </td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
